@import "../../asset/common";

.login-page{
    padding: 10px;
}
.login-page h1{
    height: 50px;
    background-color:#00c36a;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}
.login-page .btn-module{
    margin-top: 100px;
    text-align: center;
}